/* Mobile First: Bottom Navigation Bar */
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  border-top: 1px solid #444;
}

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.nav-logo {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 60px;
  width: 100%;
}

.nav-links {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-links span {
  font-size: 0.75rem;
}

.nav-icon {
  height: 24px;
  width: 24px;
  margin-bottom: 4px;
  filter: invert(1); /* Invert color to make it white */
}

.nav-links:hover {
  background-color: #444;
  transition: all 0.2s ease-out;
  border-bottom: none;
}

.nav-links.active {
  color: #1888ff;
  border-bottom: none;
  border-top: 3px solid #1888ff;
}

/* Change icon color for the active link */
.nav-links.active .nav-icon {
    /* This sequence of filters turns a black icon into the blue color #1888ff */
    filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(180deg);
}


/* Desktop Styles: Top Navigation Bar */
@media screen and (min-width: 960px) {
  .navbar {
    height: 80px;
    position: sticky;
    top: 0;
    border-top: none;
  }

  .navbar-container {
    justify-content: space-between;
    padding: 0 24px;
    max-width: 1100px;
  }

  .nav-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-item {
    height: 80px;
  }
  
  /* Hide icons on desktop */
  .nav-icon {
    display: none;
  }

  .nav-links {
    padding: 0.5rem 1rem;
    flex-direction: row;
  }
  
  .nav-links span {
    font-size: 1.2rem; /* Restore original font size */
  }

  .nav-links:hover {
    background-color: transparent;
    border-bottom: 4px solid #fff;
    border-top: none;
    transition: all 0.2s ease-out;
  }

  .nav-links.active {
    border-top: none;
    border-bottom: 4px solid #1888ff;
  }
  
  /* Make sure the active icon is also not displayed on desktop */
  .nav-links.active .nav-icon {
    filter: none; /* Reset filter */
  }
}
